//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//Grey back ground for DWP internal footer
.internal-footer-background {
    background-color: govuk-colour("light-grey");
  }

  //UC impersonation banner (claimant view)
  .impersonation-banner {
    background-color: #e8f1f8;
    color: govuk-colour("black");
    /* @include govuk-responsive-padding(3);*/
    @include govuk-font($size: 16);
    /* display: flex; */
    /* justify-content: space-between; */
   /* align-items: center; */
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 12px 0; /* vertical padding only */
    /*flex-wrap: wrap;*/
    /*gap: 10px;*/

  }

  .impersonation-banner-container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 15px; /* responsive spacing left and right */
    
  }

  .impersonation-banner-content {
    display: flex;
    /*flex-direction: row; */
    /*flex-wrap: wrap;*/
    align-items: center;
    /*@include govuk-responsive-padding(9, "left");*/
   /* width: auto;*/
    gap: 8px;
    flex-shrink: 1;
    min-width: 0;

  }

  //UC impersonation banner - Responsive layout
  @media (max-width: 600px) {
    .impersonation-banner {
      flex-direction: column;
      align-items: flex-start;
    }

  }


