{% extends "layouts/layout-unbranded-uc" %}

{% block pageTitle %}
   Is the claimant self-employed or a company director in this job? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block header %}
  {{ super() }}
  {% include "design-ideas/mvp-151-1/includes/impersonation-banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "design-ideas/mvp-151-1/includes/back-link-language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current employment</span>
        Is the claimant self-employed or a company director in this job?
      </h1>

      <form action="self-employed-or-company-director" method="post">

        {{ govukRadios({
          idPrefix: "ce-self-employed-or-company-director",
          name: "ceSelfEmployedOrCompanyDirector",
          classes: "govuk-radios--inline",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("ceSelfEmployedOrCompanyDirector", "Yes")
          }, {
            value: "No",
            text: "No",
            checked: checked("ceSelfEmployedOrCompanyDirector", "No")
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
