{% extends "layouts/layout-unbranded-uc" %}

{% block pageTitle %}
  Apply for New Style JSA – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block header %}
  {{ super() }}

{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Claim transfer</span>
      Apply for New Style JSA
    </h1>

    <h2 class="govuk-heading-m">
      What you need to know
    </h2>
    <p class="govuk-body">A paragraph with some guidance text for agents completing the claim gather</p>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Start claim",
      href: "#",
      isStartButton: true
    }) }}
          
      </div>
  </div>

{% endblock %}
