{% extends "layouts/layout-unbranded-uc" %}

{% block pageTitle %}
  Home page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{# UC agent header - adapted without crown logo #}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
    dwpHeader({
        serviceName: serviceName ,
        serviceHref: '/',
        action: "Sign out",
        actionHref: "#",
        container: true,
        navigation: {
          items: [
              {
                  href: "#",
                  text: "To-do list"
              },
              {
                  href: "#",
                  text: "Claimants"
              },
              {
                  href: "#",
                  text: "Colleagues"
              },
              {
                  href: "#",
                  text: "Teams"
              },
              {
                  href: "guard",
                  text: "New NSJSA claim"
              },
              {
                  href: "#",
                  text: "Diary"
              }
          ]
      }  
    })
}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
          Cases to progress
      </h1>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#your-cases-new">
              Your cases (new view)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#your-cases">
              Your cases
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#recent-activity">
              Recent activity (1)
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="your-cases-new">



<ul class="uc-section-cards">
<li class="uc-section-cards__item">
<div class="uc-section-card">
  <h2 class="uc-section-card__header">
    <a href="#" class="uc-section-card__link govuk-link--no-visited-state">Priorities</a>
  </h2>
  <p class="uc-section-card__description govuk-!-font-size-80 govuk-!-font-weight-bold">2</p>
</div>
</li>
<li class="uc-section-cards__item">
<div class="uc-section-card">
  <h2 class="uc-section-card__header">
    <a href="#" class="uc-section-card__link govuk-link--no-visited-state">Blocked cases</a>
  </h2>
  <p class="uc-section-card__description govuk-!-font-size-80 govuk-!-font-weight-bold">0</p>
</div>
</li>
<li class="uc-section-cards__item">
<div class="uc-section-card">
  <h2 class="uc-section-card__header">
    <a href="#" class="uc-section-card__link govuk-link--no-visited-state">Journal entries</a>
  </h2>
  <p class="uc-section-card__description govuk-!-font-size-80 govuk-!-font-weight-bold">0</p>
</div>
</li>
<li class="uc-section-cards__item">
<div class="uc-section-card">
  <h2 class="uc-section-card__header">
    <a href="#" class="uc-section-card__link govuk-link--no-visited-state">Other actions</a>
  </h2>
  <p class="uc-section-card__description govuk-!-font-size-80 govuk-!-font-weight-bold">10</p>
</div>
</li>
</ul>



        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="your-cases">
          <div class="govuk-checkboxes__item govuk-!-margin-bottom-5">
            <input class="govuk-checkboxes__input" id="show" name="show" type="checkbox" value="cases-now" checked>
            <label class="govuk-label govuk-checkboxes__label" for="show">
              Show only the number of cases 'to look at now'
            </label>
          </div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Priorities</a></h3>
          <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">
            0
          </p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Payments due</a></h3>
          <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">
            0
          </p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Blocked cases</a></h3>
          <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">
            1
          </p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Journal entries</a></h3>
          <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">
            3
          </p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Payment accuracy</a></h3>
          <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">
            1
          </p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Other actions</a></h3>
          <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold">
            1
          </p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="recent-activity">
          <h2 class="govuk-heading-l">Recent activity</h2>
          <h3 class="govuk-heading-m">
            tab 3
        </h3>
        </div>
        
      </div>
      

      <h1 class="govuk-heading-xl govuk-!-padding-top-9">
        Cases you manage
    </h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
     
    {%- from "govuk/components/table/macro.njk" import govukTable -%}

    {{ govukTable({
      attributes: {
        "data-module": "moj-sortable-table"
      },
      caption: "",
      head: [
        {
          text: "Name",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "Next appointment",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Claim start date",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Next AP end date",
          attributes: {
            "aria-sort": "none"
          }
        }
      ],
      rows: [
        [
          {
            text: "Claimant 1"
          },
          {
            text: "1 May 2024",
            attributes: {
              "data-sort-value": "01052025"
            }
          },
           {
            text: "15 Apr 2025",
            attributes: {
              "data-sort-value": "115042025"
            }
          },
          {
            text: "14th",
            attributes: {
              "data-sort-value": "14"
            }
          }
        ],
        [
          {
            text: "Claimant 2"
          },
          {
            text: "2 May 2024",
            attributes: {
              "data-sort-value": "02052025"
            }
          },
           {
            text: "16 Apr 2025",
            attributes: {
              "data-sort-value": "16042025"
            }
          },
          {
            text: "14th",
            attributes: {
              "data-sort-value": "14"
            }
          }
        ],
        [
          {
            text: "Claimant 3"
          },
          {
            text: "3 May 2024",
            attributes: {
              "data-sort-value": "03052025"
            }
          },
           {
            text: "17 Apr 2025",
            attributes: {
              "data-sort-value": "17042025"
            }
          },
          {
            text: "21st",
            attributes: {
              "data-sort-value": "21"
            }
          }
        ],
       [
          {
            text: "Claimant 4"
          },
          {
            text: "4 May 2024",
            attributes: {
              "data-sort-value": "04052025"
            }
          },
           {
            text: "18 Apr 2025",
            attributes: {
              "data-sort-value": "17042025"
            }
          },
          {
            text: "14th",
            attributes: {
              "data-sort-value": "14"
            }
          }
        ]
      ]
    }) }}
          
      </div>
  </div>

{% endblock %}
