{% extends "layouts/layout-unbranded-uc" %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
      

{% block pageTitle %}
  Account created – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block header %}
  {{ super() }}
  {% include "design-ideas/mvp-151-1/includes/impersonation-banner.html" %}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
   Account created
  </h1>
  <div class="govuk-panel__body govuk-!-font-weight-bold govuk-!-font-size-19">
    You can now make a claim for New Style JSA.<br><br>You must do this within 28 days or you will have to create your account again.
  </div>
</div>


      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
       You can now make a claim for New Style JSA.
      </p>
      <p class="govuk-body">
        <strong>You must do this within 28 days or you will have to create your account again.</strong>
      </p>
    {{ govukButton({
      text: "Continue",
      href: "to-do-list"
    }) }}
          
      </div>
  </div>

{% endblock %}
