{% extends "layouts/layout-unbranded-uc" %}

{% block pageTitle %}
  Transferring claim on the claimant's behalf – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Claim transfer</span>
      Transferring claim on the claimant's behalf
    </h1>

    <h2 class="govuk-heading-m">
      What you need to now
    </h2>
    <p class="govuk-body">A paragraph with some guidance text for agents transferring a claim manually to UC.</p>

    {{ govukButton({
      text: "Continue",
      href: "about-you"
    }) }}
          
      </div>
  </div>

{% endblock %}
