{% extends "layouts/layout-unbranded-uc" %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
      

{% block pageTitle %}
  To-do list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block header %}
  {{ super() }}
  {% include "design-ideas/mvp-151-1/includes/impersonation-banner.html" %}
{% endblock %}
{% block beforeContent %}
{% include "design-ideas/mvp-151-1/includes/language-toggle.html" %} 
{% from "uc/claimant-navigation/macro.njk" import ucClaimantNavigation %}

{{
ucClaimantNavigation({
    "items": [

    {
        "href": "#",
        "text": "To-do list",
        "active": true
    },
    {
        "href": "#",
        "text": "Journal"
    }
    ]
})
}}

{% endblock %}
{% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


{% from "uc/action-cards/macro.njk" import ucActionCards %}
{# if completed claim start date, only show bank details
eliif comleted bank details, show claim start date
elif completed claim start date and bank details, show check ansers
else show claim start date and bank details #}

{% if data['completed']=="claimstart" %}
{{
ucActionCards({
    "cards": [
        {
            "title": "Bank details",
            "titleUrl": "bank-details"
        }, 
        {
            "title": "Current employment",
            "titleUrl": "current-employment/guard"
        },
        {
            "title": "Current pensions",
            "titleUrl": "current-pensions/guard"
        } 
        
    ]
})
}}
{% elif data['completed']=="bankdetails" %}
{{
ucActionCards({
    "cards": [
        {
            "title": "Current employment",
            "titleUrl": "current-employment/guard"
        },
        {
            "title": "Current pensions",
            "titleUrl": "current-pensions/guard"
        } 
        
    ]
})
}}
{% elif data['completed']=="employment" %}
{{
ucActionCards({
    "cards": [
        {
            "title": "Current pensions",
            "titleUrl": "current-pensions/guard"
        } 
        
    ]
})
}}
{% elif data['completed']=="all" %}
{{
ucActionCards({
    "cards": [
        {
            "title": "Confirm the details are correct",
            "titleUrl": "check-answers"
        }
        
    ]
})
}}
<p class="govuk-body govuk-!-margin-top-7">
<strong><a href="#" class="govuk-link">See a record of completed to-dos in your journal</a> </strong>
</p>

{% else %}
{{
ucActionCards({
    "cards": [
        {
            "title": "Claim start date",
            "titleUrl": "claim-start"
        },
        {
            "title": "Bank details",
            "titleUrl": "bank-details"
        }, 
        {
            "title": "Current employment",
            "titleUrl": "current-employment/guard"
        },
        {
            "title": "Current pensions",
            "titleUrl": "current-pensions/guard"
        } 
        
    ]
})
}}



{% endif %}


          
      </div>
  </div>

{% endblock %}
