{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
{# UC agent header - adapted without crown logo #}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
    dwpHeader({
        serviceName: serviceName ,
        serviceHref: '/',
        action: "Sign out",
        actionHref: "#",
        container: true,
        navigation: {
          items: [
              {
                  href: "#",
                  text: "To-do list"
              },
              {
                  href: "#",
                  text: "Claimants"
              },
              {
                  href: "#",
                  text: "Colleagues"
              },
              {
                  href: "#",
                  text: "Teams"
              },
              {
                  href: "#",
                  text: "New NSJSA claim"
              },
              {
                  href: "#",
                  text: "Diary"
              }
          ]
      }  
    })
}}
{% endblock %}

{% block content %}

 

{% endblock %}


{% block footer %}
  {{ dwpFooter({
  classes: "internal-footer-background",
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "#",
            text: "Accessibility statement"
    },
    {
      href: "#",
            text: "Privacy (opens in new tab)"
    },
    {
      href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
    },
    {
      href: "/manage-prototype/clear-data",
            text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
