{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "uc/agent-header/macro.njk" import ucAgentHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{# DWP internal header #}
{{
    dwpHeader({
        serviceName: "New Style Jobseeker's Allowance",
        serviceHref: '/',
        container: true
    })
}}
{% endblock %}

{% block content %}

 

{% endblock %}


{% block footer %}
  {{ dwpFooter({
  classes: "internal-footer-background",
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "#",
            text: "Accessibility statement"
    },
    {
      href: "#",
            text: "Privacy (opens in new tab)"
    },
    {
      href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
    },
    {
      href: "/manage-prototype/clear-data",
            text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
